@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: hsl(0, 0%, 98%);
}

header {
  margin: 86px auto 0 auto;
  max-width: 504px;
  text-align: center;
}

h1 {
  font-weight: 200;
  margin: 0;
  color: hsl(234, 12%, 34%);
}

h1 span {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

header p {
  margin: 20px 0 68px 0;
  color: hsl(229, 6%, 66%);
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 76px auto;
  max-width: 1230px;
  justify-content: center;
}

.card {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 35px;
  max-width: 351px;
  max-height: 249px;
  margin: 15px;
  position: relative;
  overflow: hidden;
}

.card.supervisor::after {
  content: "";
  position: absolute;
  background: hsl(180, 62%, 55%);
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.card.builder::after {
  content: "";
  position: absolute;
  background: hsl(0, 78%, 62%);
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.card.karma::after {
  content: "";
  position: absolute;
  background: hsl(34, 97%, 64%);
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.card.calculator::after {
  content: "";
  position: absolute;
  background: hsl(212, 86%, 64%);
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.card h2 {
  margin: 0;
  background-color: #fff;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  font-size: 20px;
}

.card p {
  margin: 15px 0 30px;
  font-size: 14px;
  color: hsl(229, 6%, 66%);
  background-color: #fff;
}

.card img {
  display: block;
  margin-left: auto;
  background-color: #fff;
}

.card-push {
  transform: translateY(50%);
}

@media (max-width: 758px) {
  .card-push {
    transform: translateY(0);
  }
}

footer {
  text-align: center;
}
