@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

/* utilites */
.bold {
  font-weight: 700;
}

body {
  font-family: "Spartan", "sans-serif";
  width: 100%;
  min-height: 100vh;
  color: var(--Very-Dark-Magenta);
  position: relative;
}

.top-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
}

.bottom-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 90%;
}

.flex {
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .upper-card */
.upper-card {
  display: grid;
  grid-template-columns: 40% 58%;
  grid-template-rows: 1fr;
  gap: 20px;
  width: 100%;
  padding: 3% 0px 0px 0px;
}

.user-info h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.user-info p {
  line-height: 27px;
}

.ratings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

.rating-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--Light-Grayish-Magenta);
  padding: 10px 30px;
  width: 70%;
  height: 25%;
  border-radius: 10px;
  font-size: 13px;
}

.rating-card:nth-child(1) {
  position: absolute;
  top: 0;
  left: 10%;
}

.rating-card:nth-child(2) {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 2;
}

.rating-card:nth-child(3) {
  position: absolute;
  top: 62%;
  right: 0;
  z-index: 2;
}

.rating-card > div {
  width: 45%;
  margin-right: 15px;
}

.rating-card div img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* testimonial-card */
.testimonial-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 74px;
  height: 50vh;
  position: relative;
}

.cards {
  background-color: var(--Very-Dark-Magenta);
  border-radius: 1rem;
  color: #ffffff;
  padding: 41px 31px;
}

.cards p {
  font-size: 1rem;
  line-height: 30px;
}

.cards:nth-child(1) {
  margin-right: 20px;
}

.cards:nth-child(2) {
  margin: 30px 20px 0px 0px;
}

.cards:nth-child(3) {
  margin-top: 60px;
}

.people-info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.people-info img {
  width: 16%;
  border-radius: 50%;
}

.people-info div {
  margin-left: 25px;
}

.colorChange {
  color: var(--Soft-Pink);
}

/* media-queries */
@media screen and (max-width: 900px) {
  /* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

  body {
    min-height: 100vh;
    font-size: 15px;
  }

  .flex {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
  }

  .top-image {
    display: none;
  }

  .bottom-image {
    display: none;
  }

  .top-image-div {
    position: absolute;
    content: url("./images/bg-pattern-top-mobile.svg");
    top: 0;
    left: 0;
    width: 100%;
  }

  .bottom-image-div {
    position: absolute;
    content: url("./images/bg-pattern-bottom-mobile.svg");
    bottom: 0;
    right: 0;
  }

  .upper-card {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    height: 100vh;
  }

  .user-info {
    height: 100%;
    padding: 4% 0px 0px 0px;
  }

  .user-info h1 {
    font-size: 2.3rem;
    margin-bottom: 15px;
  }

  .user-info p {
    font-size: 15px;
  }

  .ratings {
    margin: 40px 0px 0px 0px;
    height: 100%;
  }

  .rating-card {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 0px;
  }

  .rating-card > div {
    width: 100%;
  }

  .rating-card p {
    font-size: 15px;
  }

  .rating-card:nth-child(1) {
    position: absolute;
    top: 0;
    left: 8%;
  }

  .rating-card:nth-child(2) {
    position: absolute;
    top: 30%;
    left: 8%;
    z-index: 2;
  }

  .rating-card:nth-child(3) {
    position: absolute;
    top: 62%;
    left: 8%;
    z-index: 2;
  }

  .testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 45px 0px 0px 0px;
  }

  .cards {
    width: 85%;
    margin: 0px;
    height: 85%;
  }

  .cards:nth-child(1) {
    margin: 0px;
  }

  .cards:nth-child(2) {
    margin: 10px 0px 0px 0px;
  }

  .cards:nth-child(3) {
    margin: 10px 0px 0px 0px;
  }
}
