@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Open Sans", sans-serif;
}

.header {
  background-image: url("/images/bg-hero-desktop.svg");
  background-color: hsl(193, 100%, 96%);
  width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 54px 81px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.nav-bar img {
  width: 19.5%;
  height: 47px;
  padding: 7px;
}

.nav-bar button {
  width: 17%;
  height: 45px;
  border: none;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.header-hero {
  display: flex;
}

.header-description {
  width: 675px;
  padding: 95px 77px;
  margin-left: -71px;
  color: hsl(192, 100%, 10%);
}

.header-description h1 {
  font-size: 31px;
  margin-bottom: 17px;
  opacity: 0.95;
}

.header-description p {
  font-size: 17.5px;
  font-family: "Open-Sans", sans-serif;
  font-weight: 300;
  padding: 20px 0;
  opacity: 0.9;
}

.header-description button {
  width: 58%;
  height: 17%;
  border-radius: 40px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border: none;
  margin: 10px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.header-img {
  width: 675px;
  /* margin-right: -25px; */
}

.header-img img {
  width: 100%;
  height: 100%;
}

.boxes {
  /* max-width: 100vw; */
  width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 157px 99px 250px 99px;
}

.box {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-radius: 9px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 441px;
  align-items: center;
  margin-bottom: 40px;
}

.box img {
  width: 35%;
  height: 75%;
  margin: 35px;
}

.box h2 {
  font-size: 23px;
  padding-bottom: 15px;
  color: hsl(192, 100%, 10%);
  opacity: 0.9;
}

.box p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: hsl(192, 100%, 10%);
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
  opacity: 0.8;
}

.b1 {
  padding: 0px 123px;
}

.b2 {
  display: flex;
  align-items: center;
}

.b2 h2 {
  display: block;
}

.form {
  border-radius: 10px;
  border: 1px solid hsl(193, 100%, 96%);
  width: 801px;
  height: 278px;
  margin: 0 auto;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  padding: 73px 161px;
  text-align: center;
  margin-bottom: -40px;
  z-index: 10;
  position: absolute;
  transform: translate(300px, -150px);
  background-color: white;
}

.form button {
  width: 68%;
  height: 50%;
  border-radius: 40px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border: none;
  margin: 10px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: hsl(192, 100%, 9%);
  position: relative;
  width: 1440px;
  height: 500px;
  z-index: -1;
  padding: 183px 117px 0px 117px;
  display: flex;
  flex-direction: column;
}

ul {
  flex: 1;
  padding: 0;
  list-style-type: none;
  opacity: 0.8;
}

.footer ul li {
  margin-bottom: 5px;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
}

.list {
  display: flex;
  margin-top: 35px;
  max-height: 173px;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  font-size: 13.5px;
  font-weight: 400;
}

.f1 {
  width: 470px;
  height: 180px;
}

.fbox1 {
  margin-top: -20px;
  margin-right: 85px;
}

.fbox1 ul {
  width: 320px;
}

.fbox2 ul li {
  margin-bottom: 20px;
}

.fbox3 ul li {
  margin-bottom: 20px;
}

.fas {
  transform: translateY(21px);
}

.fbox4 {
  display: flex;
}

.circle {
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-left: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.copywright {
  font-size: 13px;
  margin-top: 5px;
  color: white;
  text-align: right;
  margin-right: -65px;
}

.copywright p {
  font-family: "Open Sans", sans-serif;
  opacity: 0.8;
}
